@font-face {
	font-family: OverwatchNormal;
	src: url('../fonts/big_noodle_titling.ttf');
}

@font-face {
	font-family: OverwatchItalic;
	src: url('../fonts/big_noodle_titling_oblique.ttf');
}

body{
    font-family: OverwatchNormal !important;
    margin: 0;
}

h3{
    margin-block-end: 15px;
    margin-block-start: 15px;
}

.home-background {
    background-image: url("/static/images/misc/home.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.home-content{
    background-color: white;
    border: 1px solid #43484c;
    width: fit-content;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title{
    background-color: black;
    color: #f99e1a;
    font-size: 3em !important;
    text-align: center;
    width: 1500;
    font-size: 1.8em;
    padding-top: 20;
    padding-bottom: 20;
}

.home-page-image{
    position: relative;
}

.home-page-image img{
    width: 1500;
    margin-bottom: 20;
}

.home-page-image .search-button{
    position: absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.home-page-image .search-button a{
    font-family: OverwatchNormal;
    text-decoration: None;
    color: #f99e1a;
}

.home-page-image .search-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}




.content {
    background-color: white;
    border: 1px solid #43484c;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.battletag{
    font-family: OverwatchItalic !important;
    font-size: 3.2em;
}

.battletag-number{
    font-size: 0.8em;
    color: #6CBAD8;
}

.player-profile{
    display: flex;
    flex-direction: row;
}

.player-profile-details{
    margin-left: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar-img{
    border: 2px solid black;
}

.rating {
    padding-right: 9px;
    height: 50px;
    width: fit-content;
    border: 2px solid #43484c;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
}

.rating .rating-number {
    font-size: 1.9em;
    vertical-align: middle;
    color: #9d6cd9;
}

.rating .tier-img {
    height: 100%;
}

.overview-title{
    font-size: 1.3em;
    margin-top: 20px;
    padding-left:45%
}

.overview{
    font-size: 1.5em;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #43484c;
    margin-top: 10px;
    margin-left: 95px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.game-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 3px;
}

.medals{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 3px;
    margin-top: 17px;
}

.gold{
    color: #D4AF37;
}

.silver{
    color: 	#BEBEBE;
}

.bronze{
    color: #cd7f32;
}

.stats-and-medals{
    display: flex;
    flex-direction: column;
}

.records{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 334px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 3px;
    padding-top: 50px;
}


/* Login */

.login-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.login-content {
    background-color: white;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}


.login-img img{
    height: 500px;
}

.login-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.login-form input{
    font-family: OverwatchNormal;
    font-size: 1.2em;
    width: 180px;
    margin-bottom: 5px;
    
}

.login-button{
    margin-top: 5px;
    border: 2px solid #43484c;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.login-button:hover{
    background-color: black;
    color: #f4f4f4;
    cursor: pointer;
}

.sign-up-link{
    padding-left: 38px;
}

.sign-up-link a{
    color: black;
    text-decoration: none;
}

.sign-up-link a:hover{
    color: #f99e1a;
    cursor: pointer;
}

/* Sign Up  */

.sign-up-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.sign-up-content {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.sign-up-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.sign-up-form input{
    font-family: OverwatchNormal;
    font-size: 1.2em;
    width: 180px;
    margin-bottom: 8px;
    
}

.sign-up-button{
    margin-top: 5px;
    border: 2px solid #43484c;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.sign-up-button:hover{
    background-color: black;
    color: #f4f4f4;
    cursor: pointer;
}

.sign-up-error{
    color: red;
}


/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: white;
    border: 1px solid #43484c;
    padding: 10px;
    margin: 15px auto;
}

.logo{

}

.logo img{
    height: 60px;
}

.nav{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item{
    font-size: 1.5em;
    font-family: OverwatchItalic !important;
}

.nav-item a{
    color: black;
    text-decoration: none;  
}

.nav-item a:hover{
    color: #f99e1a;
    cursor: pointer;
}

.search{
    display: inline-block;
}

.profile{
    display: inline-block;
}

/* Top Player*/ 

.top-players-title{
    margin: 0 auto;
    width: 100px;
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 20px;
}

.top-player{
    display: flex;
    border: 1px solid #43484c;
    background-color: lightgrey;
    width: fit-content;
    padding: 3px;
    margin-left: 30%;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.top-player-img{
    float: left;
    width: 40px;
}

.top-player-rank{
    float: right;
    width: 50px;
    padding-left:10px;
    padding-top:10px;
    padding-right:40px;
}

.top-player-name{
    float: right;
    width: 200px;
    padding-top: 10px;
}

.top-player-rating{
    width: 50px;
    padding-top: 10px;
    color: #9d6cd9
}

/* Search */

.search-result-player{
    border: 1px solid #43484c;
    width: 300px;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    margin: 3px;
}

.search-result-name{
    padding-top: 50px;
    padding-left: 25px;
    text-decoration: none;
    color: black;
}