@font-face {
	font-family: OverwatchNormal;
	src: url('../fonts/big_noodle_titling.ttf');
}

@font-face {
	font-family: OverwatchItalic;
	src: url('../fonts/big_noodle_titling_oblique.ttf');
}

body{
    font-family: OverwatchNormal !important;
    margin: 0;
}

.home-background {
    background-image: url("/static/images/misc/home.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.content {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.battletag{
    font-family: OverwatchItalic !important;
    font-size: 3.2em;
}

.battletag-number{
    font-size: 0.8em;
    color: #6CBAD8;
}

.player-profile{
    display: flex;
    flex-direction: row;
}

.player-profile-details{
    margin-left: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar-img{
    border: 2px solid black;
}

.rating {
    padding-right: 9px;
    height: 50px;
    width: fit-content;
    border: 2px solid #919191;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
}

.rating .rating-number {
    font-size: 1.9em;
    vertical-align: middle;
    color: #9d6cd9;
}

.rating .tier-img {
    height: 100%;
}



/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 15px auto;
}

.logo{

}

.logo img{
    height: 60px;
}

.nav{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item{
    font-size: 1.5em;
    font-family: OverwatchItalic !important;
}

.search{
    display: inline-block;
}

.profile{
    display: inline-block;
}