<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <div class="home-background">
            {% include 'nav.html' %}
            <div class="home-content">
				<div class="home-wrapper">
					<div class="home-title">
						Overwatch Stats
					</div>
					<div class="home-page-image">
						<img src="/static/images/misc/homepage.png">
                        <button class="button"><a href="/search">Search Player</a></button>
					</div>
					<div class="page description">
						For player stats either search by battletag or create an account.</br>
						Only public profiles can be viewed. You can modify this in Overwatch under 'Options' - 'Social' and then restart overwatch
				    </div>
                </div>
            </div>
        </div>
    </body>
</html>