<div class="navbar">
    <div class="logo">
        <img src="/static/images/misc/logo.png"/>
    </div>
    <div class="nav">
        {% if logged_in %}
            <div class="nav-item">Profile</div>
        {% endif %}
        <div class="nav-item">Heroes</div>
        <div class="nav-item">About</div>
    </div>
    <div class="search-and-profile">
        <div class="search">
            <input type="text"/>
            <button>S</button>
        </div>
        <div class="profile">
            {% if logged_in %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Sign In</a>
            {% endif %}
        </div>
    </div>
</div>