<div class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/static/images/misc/logo.png"/>
        </a>
    </div>
    <div class="nav">
        {% if logged_in %}
            <div class="nav-item">Profile</div>
        {% endif %}
        <div class="nav-item"><a href="/top-players">Top Players</a></div>
        <div class="nav-item">About</div>
    </div>
    <div class="search-and-profile">
        <div class="search">
            <form action="/search" method="GET">
                    <input type='text' name='q'>
                    <input type='submit' value='🔍'> 
            </form> 
        </div>
        <div class="profile">
            {% if logged_in %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Sign In</a>
            {% endif %}
        </div>
    </div>
</div>