<html>
	<head>
	{% include 'header.html' %}
	</head>
    <body>
        <div class="home-background">
            {% include 'nav.html' %}
            <div class="content">
                {% if private %}
                    <div class="profile-private">
                    This profile is private
                    </div>
                {% else %}
                    <div class="player-profile">
                        <div class="avatar">
                            <img class="avatar-img" src="{{profile.avatar_url}}"/>
                        </div>
                        <div class="player-profile-details">
                            <div class="battletag">{{profile.battletag}}<span class="battletag-number">#{{profile.battletag_number}}</span></div>
                            <div class="rating">
                                <img class="tier-img" src="{{profile.tier_img_url}}"/>
                                <span class="rating-number">{{stats.comp_rank}}</span>
                            </div>
                            <form action="/set-battletag", method="POST">
                                <input type="hidden" id="battletag" name="battletag" value="{{battletag}}">
                                <button name="profile-set-button" type="submit">Make This My Profile</button>
                            </form>
                        </div>
                    </div>
                    <h2>Top Five Heroes:</h2> 
                    <div class="top-five-chart">
                        <canvas id="top-five-chart" width="200" height="50"></canvas>
                    </div>
                    
                    <div class="overview-title">
                        <h2>Overview</h2>
                    </div>
                    <div class="overview">
                        <div class="stats-and-medals">
                            <div class="game-stats">
                                <h3>Game Stats</h3>
                                <div class="games_won">
                                    Games won: {{player_overview.games_won}}
                                </div>
                                <div class="kpd">
                                    Eliminations Per Death: {{player_overview.kpd}}
                                </div>
                            </div>
                            
                            <div class="medals">
                                <h3>Medals</h3>
                                <div class="gold">
                                    Gold medals: {{player_overview.medals_gold}}
                                </div>
                                <div class="silver">
                                    Silver medals: {{player_overview.medals_silver}}
                                </div>
                                <div class="bronze">
                                    Bronze medals: {{player_overview.medals_bronze}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="records">
                            <h3>Records - Most in Game</h3>
                            <div class="final_blow">
                                Final Blows: {{player_record.final_blows}}
                            </div>
                            <div class="eliminations">
                                Eliminations: {{player_record.eliminations}}
                            </div>
                            <div class="assists">
                                Assists: {{player_record.assists}}
                            </div>
                            <div class="obj_kills">
                                Objective Kills: {{player_record.obj_kills}}
                            </div>
                            <div class="environmental">
                                Environmental Kills: {{player_record.environmental}}
                            </div>
                            <div class="solo_kills">
                                Solo Kills: {{player_record.solo_kills}}
                            </div>
                            <div class="all_damage">
                                All Damage: {{player_record.all_damage}}
                            </div>
                            <div class="hero_damage">
                                Hero Damage: {{player_record.hero_damage}}
                            </div>
                            <div class="healing">
                                Healing Done: {{player_record.healing}}
                            </div>
                        </div>
                    </div>
                    <script>    
                        var ctx = document.getElementById("top-five-chart").getContext("2d");
                        var topFiveChart = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: {
                                labels: ["{{top_five[0].name}}", "{{top_five[1].name}}", "{{top_five[2].name}}", "{{top_five[3].name}}", "{{top_five[4].name}}"],
                                datasets: [{
                                    label: 'Hours Played',
                                    data: [
                                        "{{top_five[0].hours_played}}", 
                                        "{{top_five[1].hours_played}}", 
                                        "{{top_five[2].hours_played}}",
                                        "{{top_five[3].hours_played}}",
                                        "{{top_five[4].hours_played}}" 
                                    ],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                {% endif %}
            </div>
		</div>
        
    </body>
</html>

  
