<html>
	<head>
	{% include 'header.html' %}
	</head>
    <body>
        <div class="home-background">
            <div class="content">
                <h1>Battletag: {{battletag}}</h1>
                <img class="avatar-img" src="{{avatar_url}}"/>
                <img class="tier-img" src="{{tier_img_url}}"/>
                <h2>Top Five Heroes:</h2> 
                {% for hero in top_five %}
                    {{hero.name}}: {{"%.2f"|format(hero.hours_played)}} hours played<br/>
                {% endfor %}
                {{blob}}
            </div>
		</div>
    </body>
</html>
